<% if(session[:user_id] === nil) %>
   <script> window.location.href = "/login" </script>
<%end%>




<h1 id = "dashTitle">Dashboard</h1>
<div class = "dashboardWrapper">
	<div class = "imageSection">
		<h1>Avatar</h1>
		<div class="imageContainer"> 
				<% if(@avatar != nil) %>
	 			<%= image_tag @avatar.avatar.url, :class => "avatar" %>
	 		<% else %>
	 			<div class = "avatar"></div>
	 		<%end%>
			</div>
		<form method="POST" action = "/imageupdate" enctype="multipart/form-data">
			<input type = "hidden" value = "<%= form_authenticity_token %>" name = "authenticity_token">

			<label>Upload avatar image</label><br>
			<input type="file" name="avatar">
			<input type="submit" value = "Submit">
		</form>
	</div>
	<div class = "userInformationSection">
		<h1> User Information </h1>
		<form method = "POST" action = "/updateUserInformation">
			<input type = "hidden" value = "<%= form_authenticity_token %>" name = "authenticity_token">

			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Username" name = "user[name]" value = "<%= @currentUser.name%>">
</div>

			<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">@</span>
  </div>
  <input type="text" class="form-control" placeholder="Email" value = "<%= @currentUser.email%>" disabled> 
</div>


<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">🔒</span>
  </div>
  <input type="password" name = "user[password]" class="form-control" placeholder="Enter Password" >
</div>



<input type = "submit" value = "Update Username" class = "btn btn-primary">


		</form>
	</div>
</div>