 <% local_posts = t :posts %>
<div class = "displayComments">
		<p> Comments: </p>
		<% @post.comments.each do |g| %>
		<% if(current_user != nil) %>
			<div class = "commentContainer">
					<p style= "float:right;"> <%= local_posts[:likes] %> <%= g.likes %> </p>
					<% button_text = "Like" %>
					<% if(CommentLikesController.alreadyLiked(current_user,g)) %>
						<% button_text = "Unlike" %>
					<% end %>
					<form action = "/comment/like" method = "POST">
						<input type = "hidden" value = "<%= form_authenticity_token %>" name = "authenticity_token">
						<input type = "hidden" value = "<%= g.id %>" name = "id">
						<input type = "submit" value = "<%= button_text %>" class ="like btn " style = "background-color: green;" >
					</form>
					<% if(current_user.id == g.user_id) %>
						<%= link_to 'Destroy', '../posts/'+ post.id.to_s + '/comments/'+ g.id.to_s, class: "like btn", style: "background-color:red;", method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>

			<% end %>

				<p><%= image_tag AvatarsController.getAvatar(g.user_id), :class => "comment_avatar" %><%= UsersController.getUserData(g.user_id).name %> :  <%= g.comment %></p>

			</div>
		<% end %>

	</div>

