 <% local_posts = t :posts %>

<% if @post == nil%>
<!--  <script> window.location.href = "/" </script> -->
<%else%>
<%if (notice != nil) %>
<%= content_tag(:div, notice, class: "alert alert-primary") %>
<% end %>
<% creator = UsersController.getUserData(@post.user_id) %>
<% if (@post.important == true) %>
<div class = "breaking" style = "width:100vw; margin-bottom:100vh;">
    <b><%= local_posts[:breaking] %></b>
 </div>
 <%end%>
<div class = "wrapper" style = "margin: 0;display: block;">
  <div class = "postHeader " style = 'box-shadow: 0px 0px; background-image: url("<%= @post.banner.url %>")'>
    <div class = "postViewTitle">
      <h1><%= @post.title %></h1>
    </div>
    <div class = "contentCreator">
      <p class = "content_creator" id = "by">By: <%= creator.name %></p>
      <p class = "creation_date"><%= UsersController.getUserData(@post.user_id).created_at.strftime("%A %d %B %Y") %></p>

    </div>
  </div>

  <div class = "postViewContent">
    <p><%= @post.body %></p>
  </div>

  <% if(current_user != nil) %>
    <%= render "commentform", post: @post%>
  <% end %>
  <%= render "comments", post: @post%>
  
</div>
<% end %>