
<p>
  <strong>Article:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<h2> Comments </h2>
<% @post.comment.each do |comment| %>
<p>Commentor : <%= comment.user_id %> </p>
<p>Commentor : <%= comment.comment %> </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comment.build]) do |f| %>

  <p>
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', post_path %>
 