<% if @selectedPost == nil%>
<!-- 	<script> window.location.href = "/" </script> -->
<%else%>
<%if (notice != nil) %>
<%= content_tag(:div, notice, class: "alert alert-primary") %>
<% end %>
<% creator = UsersController.getUserData(@selectedPost.user_id) %>
<% if (@selectedPost.important == true) %>
<div class = "breaking" style = "width:100vw; margin-bottom:100vh;">
  	<b>BREAKING NEWS</b>
 </div>
 <%end%>
<div class = "wrapper" style = "margin: 0;display: block;">
	<div class = "postHeader " style = 'box-shadow: 0px 0px; background-image: url("<%= @selectedPost.banner.url %>")'>
		<div class = "postViewTitle">
			<h1><%= @selectedPost.title %></h1>
		</div>
		<div class = "contentCreator">
			<p class = "content_creator" id = "by">By: <%= creator.name %></p>
			<p class = "creation_date"><%= UsersController.getUserData(@selectedPost.user_id).created_at.strftime("%A %d %B %Y") %></p>

		</div>
	</div>

	<div class = "postViewContent">
		<p><%= @selectedPost.body %></p>
	</div>

	<% if(current_user != nil) %>
		<%= render "commentform", post: @selectedPost%>
	<% end %>
	
	<%= render "comments", post: @selectedPost%>

</div>
<% end %>